body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-size: 12pt;
  overflow-y: scroll;
  background: repeat-x center top url(domino-chain-header.jpg) #eef;
}
header {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  height: 240px;
  width: 100%;
}
h1 {
  margin: 0;
  width: 100%;
  font-size: 84px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 3px #000;
}
div.summary {
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  text-shadow: 0.2px 0.2px 0 #000;
}
div.section {
  margin: 0 auto 0 auto;
  padding: 12px 36px 24px 36px;
  max-width: 728px;
  background-color: #cdf;
}
h2 {
  text-align: center;
  font-size: 20pt;
  margin: 24px 0 12px 0;
}
h3 {
  font-size: 14pt;
  margin: 24px 0 12px 0;
}
p {
  margin: 12px 0 12px 0;
}
dt {
  margin-top: 0.5rem;
  font-style: italic;
}
p, dd {
  text-align: justify;
}
a {
  text-decoration: none;
  color: #00e;
}
a:visited {
  color: #618;
}
a:hover {
  color: #839;
}
nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  margin-bottom: 3rem;
}
nav a {
  margin: 0.2rem;
  flex: 1;
  white-space: pre;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
}
h2, nav a {
  padding: 0.5rem;
  border-radius: 0.6rem;
  background-color:  #eef;
}
h1, h2, h3, div.summary, dt, nav a, nav a:visited, nav a:hover {
  color: #c00;
}
nav a:hover {
  background-color: #fff;
}
pre {
  padding: 0.5rem;
  overflow-x: auto;
  background-color: #fff;
}
